<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekdays</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-center">English</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Day</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for day in weekdays2 %}
                            <tr>
                                <td>{{ day }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Russian</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>День</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for day in weekdays3 %}
                            <tr>
                                <td>{{ day }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Uzbek</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Kun</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for day in weekdays1 %}
                            <tr>
                                <td>{{ day }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
